<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}</title>
    {css href='__CSS__/bootstrap.min.css'}
    {css href='__CSS__/bootstrap-table.min.css'}
    <style>
        table tbody tr td a {
            color: red;
        }

        .col-md-10 button {
            width: 100px;
            height: 40px;
        }

        div.form-group {
            border: 1px solid red;
            width: 100%;
            height: 100px;
        }

        div input.form-control {
            width: 40%;
            height: 50px;
        }

        div label {
            font-size: 20px;
            margin-top: 10px;
        }

        .btn {
            width: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">我的商品</h1><br>
            <div class="col-md-10" style="border: 1px solid blue;width:100%;height:500px">
                <div class="form-group">
                    <label>商品名称</label>
                    <input type="text" class="form-control" id='name' />
                </div>

                <div class="form-group">
                    <label>商品单价</label>
                    <input type="number" class="form-control" oninput="if(value<0)value=0" id="price" />
                </div>

                <div class="form-group">
                    <label>商品数量</label>
                    <input type="number" class="form-control" oninput="if(value<0)value=0" id="num" />
                </div>
               
                <div class="form-group">
                    <label>商品分类</label>                   
                    <select class="form-control" style="width: 200px;height: 40px;" id="classify_list">
                        <option disabled="disabled" selected>---下拉选择商品分类---</option>
                        {foreach $classify as $key=>$value}
                            <option value={$value.classify_name}>{$value.classify_name}</option>
                        {/foreach}
                    </select>                   
                </div>
                
                <!-- <div class="file">
                    <input id="lefile" type="file" style="display:none">
                    <div class="input-append">
                        <input id="photoCover" class="input-large" type="file" style="height:30px;">
                        <a href="javascript:;" id="upfile">上传</a>
                    </div>
                </div> -->
                <div class="nav" style="position: relative;left: 40%;top: -55px;">
                    <ul class="list-unstyled list-inline">
                        <li><a href="javascript:;" class="btn btn-success" id="add">新增</a></li>
                        <li>
                            <a href="javascript:;" id="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="frame"><!--即时刷新数据--></div>
        </div>
    </div>
</body>

{js href='__JS__/jquery-3.6.0.min.js'}
{js href='__JS__/bootstrap.min.js'}
{js href='__JS__/bootstrap-table.min.js'}
{js href='__JS__/bootstrap-table-zh-CN.min.js'}
<script>
    $("#refresh").click(function () {
        location.reload();
    })
    $('#upfile').click(function () {
        alert($('#photoCover').val($(this).val()))
    })

    $("#frame").load("/admin/Store/false_frame", function(){})
</script>
<script>
    $('#add').click(function(){
        var name = $('#name').val();
        var price = $('#price').val();
        var num = $('#num').val();
        var classify = $("#classify_list").val()
        $.post('/admin/Store/add',{'name':name, 'price':price, 'num':num, 'classify':classify},
            function(data, state){
                if(data=='success'){
                    $("#refresh").click()
                }
            }
        );
        // $.post('/admin/store/add',{''})
    })
</script>
</html>