<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$title}</title>
	{css href="__CSS__/bootstrap.min.css"}
	<style>
		h1 {text-align: center;}
		.buy-link {
			border: 1px solid blue;
			background-color: white;
			width: 30%;
			height: 330px
		}

		.buy-info-title {
			font-size: 23px;
			position: relative;
			left: 27%;
			top: 20px
		}

		.buy-info-logo {
			position: relative;
			left: 8%;
			top: -20px;
			cursor: pointer;
		}

		.buy-info-text {
			font-size: 18px;
			position: relative;
			top: -50px
		}

		.buy-info-rmb {
			position: relative;
			top: -50px
		}

		.buy-info-rmb-price {
			font-size: 20px;
			color: red;
			position: relative;
			top: -48px
		}
	</style>
</head>

<body style="padding-top: 70px;background-color: #FAFAFA">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span style="font-size: 26px">BookStore</span></a>
			</div>
			<div class="collapse navbar-collapse" id="topFixedNavbar1">
				<ul class="nav navbar-nav" style="font-size: 20px">
					<li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false">全部分类<span class="caret"></span></a>
						<ul class="dropdown-menu" style="font-size: 18px">
							{foreach $class as $key => $vo}
								<li><a href="#">{$vo}</a></li>
							{/foreach}
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="搜索书籍分类或名称">
					</div>
					<button type="submit" class="btn btn-primary">搜索</button>
				</form>
				<div hidden="hidden" id="login_user">{$user}</div>
				<ul class="nav navbar-nav navbar-right" style="font-size: 20px" id="nav-url">
					<li><a href="javascript:" id="shopping-cart"><span class="glyphicon glyphicon-shopping-cart">购物车</span></a></li>
					<li class="login_li"><a href="javascript:" id="login"><span class="glyphicon glyphicon-log-in">登陆</span></a></li>
					<li class="login_li"><a href="javascript:" id="register"><span class="glyphicon glyphicon-log-out">注册</span></a></li>
					<li><a href="javascript:" ><span class="glyphicon glyphicon-user" id="user" data-name='{$user}'>{$user}</span></a></li>
				</ul>
			</div>
		</div>

	</nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>每日推荐</h1><br>
				<div style="background-color:#DFDFDF;width: 100%;height: auto">
					{foreach $data as $key => $vo}
					<div class="col-md-6 buy-link" style="margin-right: 30px;height:auto">						
						<span class="buy-info-title">{$vo['comm_name']}</span>
						<img src={$vo['photo']} width="250" height="250" alt={$vo['comm_name']}
							class="buy-info-logo" data-id={$vo['comm_id']}>
						<p class="buy-info-text" style="position:relative;top:10px">{$vo['column_synopsis']}</p>
						<div style="position:relative;top:45px">
							<img src="../static/images/RMB.png" alt="人民币" width="25" height="25" class="buy-info-rmb"><span
							class="buy-info-rmb-price">{$vo['comm_quantity']}</span>
						</div>
					</div>
					{/foreach}													
			</div>
		</div>
	</div>
	</div>
</body>
{js href="__JS__/jquery-3.6.0.min.js"}
{js href="__JS__/bootstrap.min.js"}
{js href='__JS__/jquery.cookie.min.js'}

<script>
	const select_user = $('#user');
	if (select_user.text() === select_user.data('name')) {
		$('#nav-url').append("<li id='login_out_li'><a href='javascript:' id='login_out'><span class='glyphicon glyphicon-off'>退出登录</span></a></li>")
		$('#login_out').show();
		$('#login').hide();
		$('#register').hide();
	}

	if (select_user.text() === ''){
		$('#login_out_li').hide();
		$('#login').show();
		$('#register').show();
	}

</script>
<script>
	$("#login").click(function () {
		location.href = "/user/user/login";
	})

	$("#register").click(function () {
		location.href = "/user/user/register";
	})

	$(".buy-info-logo").click(function () {
		var buy_id = $(this).data('id');
		location.href = "/user/detail?id=" + buy_id + "&&user_name=" + $.cookie('user_name') + '&&token=' + $.cookie('token');
	})

	$("#shopping-cart").click(function () {
        location.href = "/user/Detail/shoppCart?user_name=" + $.cookie('user_name') + '&&token=' + $.cookie('token');
	})

	$("#login_out").click(function () {
		$.post("/user/user/quit",{"value":true},
		 function(data, state){
			if (data['state']===true){
				location.reload()
			}
		})
	})
</script>
</html>