<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$title}</title>
	{css href="__CSS__/bootstrap.min.css"}
	{css href="__CSS__/bootstrap-table.min.css"}
	<style>
		table tbody tr td a{color: red;}
		.col-md-10 button{width: 100px;height: 40px;}
		button.select{width: 60px;height:30px;position: relative;top: -20px;left: 17px}
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<h1 style="text-align: center">{$user_name}的购物车</h1><br>
			<button type="button" id="select_all" class="btn-group select">全选</button>
			<button type="button" id="select_del" class="btn-group select">反选</button>
			<button type="button" id="select_submit" class="btn-group select">提交</button>
			<div class="col-md-10" style="border: 1px solid red;width:100%;height: 600px">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" id="shopping">
						<thead>
							<tr>
								<th>选择</th>
								<th>商品名称</th>
								<th>单价（元）</th>
								<th>数量</th>
								<th>小计（元）</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						{foreach $data as $key=>$value}
							<tr class="tag_del">
								<td><input type="checkbox" name="select" value="{$value['cart_id']}"></td>
								<td class="goods_name">{$value["goods_name"]}</td>
								<td class="unit_price">{$value["unit_price"]}</td>
								<td class="amount">{$value["quantity"]}</td>
								<td class="num">{$value["total"]}</td>
								<td><a href="javascript:" class="del-btn" data-id="{$value['cart_id']}">删除</a></td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<nav aria-label="Page navigation" style="position: absolute;left: 33%;top: 530px">
					<ul class="pagination pagination-lg">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">共XXX页</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<button class="btn btn-primary btn-lg" data-target="#myModal" data-toggle="modal">
			开始演示模态框
		</button>
		<!-- 模态框（Modal） -->
		<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog"
			 tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×
						</button>
						<h4 class="modal-title" id="myModalLabel">
							订单提交验证
						</h4>
					</div>
					<div class="modal-body">
						<div style="position: relative;left: 30%">
							<label>
								<h4 style="text-align: center">验证你的支付密码</h4>
								<input class="form-control" name="password" type="password">
							</label>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" type="button">
							关闭
						</button>
						<button class="btn btn-primary" id="modal_submit" type="button">
							验证
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</body>
{js href="__JS__/jquery-3.6.0.min.js"}
{js href="__JS__/bootstrap.min.js"}
{js href="__JS__/bootstrap-table.min.js"}
<script>
	$(function () {
		$('#myModal').modal('hide')
	});
	$(function () {
		$('#myModal').on('hide.bs.modal', function () {
			alert('你取消了订单的提交');
		})
		return false;
	});
	$("#modal_submit").click(function () {
		$.post("/user/user")
	})
</script>
<script>
	var unit_price = $("#unit_price").text()
	var amount = $("#amount").text()
	$("#num").text(unit_price*amount)
	$("#select_all").click(function () {
		let input_select = $("input[name='select']")
		input_select.prop("checked", true);
	})
	$("#select_del").click(function () {
		let input_select = $("input[name='select']")
		input_select.prop("checked", false);
	})
	$("#select_submit").click(function () {
		var arr = [];
		$("input[name='select']:checked").each(function () {
			arr.push($(this).val());
		})
		$.post("/user/order",{"data":arr})
		// console.log(arr)
	})


	$(".del-btn").click(function () {
		//删除按钮
		let uid = $(this).data("id");
		$(this).closest(".tag_del").remove();
		// $.post("/script/delete.php", {
		// 	"text_id": uid
		// });
		// location.reload();
	})
</script>
</html>