<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type= "text/javascript"  src= "../../../../public/static/bootstrap/js/jquery-3.6.0.min.js" ></script>
</head>
<body>
    <div id="showtime">

    </div>
</body>
  <script>
      var showtime = function () {
          var n = 0;
          while (true){
              n = n+1
              if(n===30){
                  break
              }else {
                  div.innerHTML = n
              }
          }
      }
      var div = document.getElementById("showtime");
      setInterval (function () {
          div.innerHTML = showtime();
      }, 1000);  //反复执行函数本身
  </script>
</html>